<!doctype html>
<html lang="en">
  <head>
    <title>장곡중! 오늘의 급식은?</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" integrity="sha256-c+C87jupO1otD1I5uyxV68WmSLCqtIoNlcHLXtzLCT0=" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/1213a7cbad.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js"></script>
  </head>
  <body class="bg-dark">
    <div class="padding">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-center">
        <div class="w-100 row">
          <div class="col-sm-2 text-left"><button onclick="window.location.replace('/view/<%- + previousDate.getFullYear() + '/' + (previousDate.getMonth() + 1) + '/' + previousDate.getDate() %>')" class="btn btn-outline-info hvr-icon-wobble-horizontal"><i class="fas fa-chevron-left hvr-icon"></i> 이전</button></div>
          <div class="col-sm-8 text-center text-white hvr-grow-rotate"><h3 class="title"><%= year + '년 ' + month + '월 ' + date + '일 (' + day + ')' %></h3></div>
          <div class="col-sm-2 text-right"><button onclick="window.location.replace('/view/<%- + nextDate.getFullYear() + '/' + (nextDate.getMonth() + 1) + '/' + nextDate.getDate() %>')" class="btn btn-outline-info hvr-icon-wobble-horizontal">다음 <i class="fas fa-chevron-right hvr-icon"></i></button></div>
        </div>
      </nav>
    </div>
    <div class="center text-center text-white row">
      <div class="col-sm-5 text-right">
        <% if (result.kcal) { %>
          <div class="kcals resNormal">
            오늘 급식의 열량인 <%- result.kcal %> Kcal은...<br />
            <br />
            <span class="resDesc">남학생 일일 권장량</span>의 <span class="resBold"><%- (result.kcal / 27).toFixed(1) %>%</span>,<br />
            <span class="resDesc">여학생 일일 권장량의 </span><span class="resBold"><%- (result.kcal / 21).toFixed(1) %>%</span>로<br />
            <br/>
            <span class="resBold"><%- (result.kcal / 126).toFixed(1) %>시간</span> <span class="resDesc">집중해서 수업 듣기</span> 혹은<br />
            <span class="resBold"><%- (result.kcal / 94.2).toFixed(1) %>시간</span> <span class="resDesc">똑바로 앉아있기</span>를<br />
            할 수 있습니다
          </div>
        <% } %>
      </div>
      <div class="splitter col-sm-2"></div>
      <div class="menus col-sm-5">
        <% if (result.menu.length > 1) { %>
          <% result.menu.forEach((m, i) => { %>
            <div class="menu menu-<%- i %>">
            <% m.split('').forEach((l) => { %>
              <span class="letter"><%- l %></span>
            <% }) %>
            </div>
          <% }) %>
        <% } else { %>
            <div class="menu menu--1">
              등록된 메뉴가 없어요!
            </div>
            <div class="menu menu--2">
              (날짜와 요일을 확인해 보세요)
            </div>
        <% } %>
      </div>
    </div>

    
    <div class="fixed-bottom text-white text-center copyright">
      <h6>
        참고 자료 및 문헌: 한국영양학회 - 한국인의 하루 에너지 필요 추정량 발표자료, fatsecret(대한민국) - 칼로리 소비량과 피트니스 정보<br />
        <hr class="bg-info" />
        Copyright <i class="fas fa-copyright"></i> 2019~2020. 장곡중학교(칠곡) - Software And Guiders, MIT Licensed.<br />
        모든 저작권은 (칠곡) 장곡중학교와 Software And Guiders(SWAG, 장곡중 소프트웨어 동아리)에 있으며, 무단 복제 및 2차 배포를 금합니다<br />
      </h6>
    </div>
    
    <style>
      @import url('https://fonts.googleapis.com/css?family=Jua&display=swap');

      * {
        font-family: 'Jua', sans-serif;
      }

      body {
        overflow: hidden;
      }

      .navbar {
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
      }

      .row {
        margin: 0px;
      }
      
      .padding {
        padding: 0px 5%;
      }

      .btn-outline-info {
        border-color: transparent;
      }

      .title {
        margin: 4px 0px 0px 0px;
      }

      .center {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      .menu {
        font-size: 3vw;
        display: flex;
      }
      
      .splitter {
        padding: 0px 4px;
        flex: 0 0 0px;
        height: auto;
        background-color: #ffffff;
      }
      
      .resBold {
        color: #FFFFB6;
        font-size: 3vw;
      }

      .resDesc {
        font-size: 2vw;
      }

      .resNormal {
        font-size: 1.5vw;
      }
    </style>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>